*{
	margin: 0;
	padding:0;
}

body{
	font-size: 18px;
	background:#282828;
	color: #ffffff;
	width:100%;
}

.baner{
	background: #434141;
	width: 80%;
	padding: 2px;
	margin: auto;
	display: block;
 }

 .baner img{
 	width: 95%;
 	height: 195px;
 	margin: 2.5px auto;
 }