*{
	margin: 0;
	padding:0;
}

body{
	font-size: 18px;
	background:#282828;
	color: #ffffff;
	width:100%;
	height: 100%;
}

.baner{
	background: #434141;
	width: 90%;
	height: 200px;
	margin: auto;
	display: block;
 }

 .baner img{
 	display: block;
 	width: 90%;
 	height: 195px;
 	margin: 2.5px auto;
 }

header nav{
	background: #07e818;
	color: #000000;
	width: 90%;
	margin: auto;
}

 header nav ul{
 	text-decoration: none;
 	display: block;
 	margin: auto;
 }

header nav ul li {
  	text-decoration: none;
 	display: inline-block;
 	font-size: 20px;	
 }

header nav ul li a{
 	text-decoration: none;
 	padding: 10px;
 	display: block;
 	color: #000000;
 }

 header nav ul a:hover{
 	background: #05a411;
 }

.main{
 	width: 90%;
 	box-sizing: border-box;
 	/*background: #686666;*/
 	background: #fff;
 	margin: 15px auto;
 }

 .main .articulos{
	background: #686666;
	padding: 2.5%;
	margin: 10px auto;
	float: left;
	width:75%;
}
.main aside{
	/*Esta porpiedad CSS3 modifica al modelo de caja, particulamente esa opcion hace que 
	las medidas se ajusten mediante la suma de tamaño hasta lograr el tamaño asignado
	mediante la prpiedad width al elemento padre..*/
	box-sizing: border-box;
	background: #686666;
	margin: auto;
	float: left;
	width: 20%;
	min-height: 400px;
	padding: 13px;
	border: 1px solid #000000;
}

 footer{
 	width: 90%;
	background: #07e818;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
 	margin: 20px auto;
 	text-align: center;
 	clear: both;
 }